In [9]:
print('hi')

hi

In [10]:
print('hi')

hi

In [11]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
df.shape()

TypeError: 'tuple' object is not callable

In [13]:
new df = df.loc[50:61,['species', 'petal_length', 'petal_width']]
new df

SyntaxError: invalid syntax. Perhaps you forgot a comma? (Temp/ipykernel_3996/4259619711.py, line 1)

In [14]:
new_df = df.loc[50:61,['species', 'petal_length', 'petal_width']]
new_df

       species  petal_length  petal_width
50  versicolor           4.7          1.4
51  versicolor           4.5          1.5
52  versicolor           4.9          1.5
53  versicolor           4.0          1.3
54  versicolor           4.6          1.5
55  versicolor           4.5          1.3
56  versicolor           4.7          1.6
57  versicolor           3.3          1.0
58  versicolor           4.6          1.3
59  versicolor           3.9          1.4
60  versicolor           3.5          1.0
61  versicolor           4.2          1.5

In [15]:
new_df = df.loc[50:61:2,['species', 'petal_length', 'petal_width']]
new_df

       species  petal_length  petal_width
50  versicolor           4.7          1.4
52  versicolor           4.9          1.5
54  versicolor           4.6          1.5
56  versicolor           4.7          1.6
58  versicolor           4.6          1.3
60  versicolor           3.5          1.0